body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #4B2E83;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  /* fixed header, can be removed*/
  /* position: fixed;
  top: 0;
  width: 100%; /* Ensure it spans the full width of the screen */
  /* z-index: 1000; /* Optional: to make sure it stays above other content */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content img {
  border-radius: 50%;
  margin-right: 20px;
  width: 150px;
  height: 150px;
}

.header-text {
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  line-height: 1.2; /* Reduce line height */
}

header p {
  margin: 5px 0; /* Reduce margin between paragraphs */
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: underline;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 20px 0 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

section {
  margin: 10px 0;
}

section h2 {
  margin: 0 0 10px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

section ul {
  padding: 0;
  list-style: none;
}

section ul li {
  margin: 5px 0;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-header h3,
.sub-header p {
  margin: 0;
  max-width: 80%;
}

.sub-header span {
  font-style: italic;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  .header-content {
      flex-direction: column;
  }

  .header-content img {
      margin-right: 0;
      margin-bottom: 10px;
  }

  nav ul li {
      display: block;
      margin: 10px 0;
  }

  .sub-header {
      flex-direction: column;
      align-items: flex-start;
  }

  .sub-header span {
      margin-top: 5px;
  }
}

/* gallery */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

.first {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  /* color: #f2f2f2; */
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  /* position: absolute; */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  /* color: #f2f2f2; */
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

button {
  padding: 10px 20px;
  background-color: #4B2E83;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  background-color: #392365;
}